.header {
    background-color: red;
}

*{
    font-family: 'Roboto', sans-serif;
}

.logout-button {
    background-color: red;
    border: none;
    border-radius: 50%; // Torna o botão circular
    color: white;
    width: 40px; // Define o tamanho do botão
    height: 40px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logout-icon {
    font-size: 16px; // Define o tamanho do ícone "X"
  }
  