<div *ngIf="token; else noToken" style="margin-top: 800px;">
    <h3>Seu token:</h3>
    <p style="max-width: 800px; word-wrap: break-word; overflow-wrap: break-word;">{{ token }}</p>
  </div>
  <ng-template #noToken>
    <p>Nenhum token encontrado, por favor, faça o login.</p>
  </ng-template>

  <div *ngIf="userInfo">
    <h2>Informações</h2>
    <p><strong>ID:</strong> {{ userInfo.id }}</p>
    <p><strong>Nome:</strong> {{ userInfo.nome }}</p>
    <p><strong>Email:</strong> {{ userInfo.email }}</p>
    <!-- Adicione outras propriedades conforme necessário -->
  </div>
  <div *ngIf="!userInfo">
    <p>Carregando informações do usuário...</p>
  </div>
  
  